<%- include ("_header") -%>

<body>

<h1>BlackJack! </h1>
<p>Try to get close to 21 without going over!</p>
<div class="card-deck">
<div class="card" id="dCard1">
    <img class="card-img-top" id= "dealerCard1" src="/public/images/cards/cardBack.png" alt="Card image">
    <div class="card-body">
        <p>Dealer Card</p>
    </div>
</div>

<div class="card" id="dCard2">
    <img class="card-img-top" id= "dealerCard2" src="/public/images/cards/cardBack.png" alt="Card image">
    <div class="card-body">
        <p>Dealer Card</p>
    </div>
</div>

<div class="card" id="dCard3">
    <img class="card-img-top" id= "dealerCard3" src="/public/images/cards/cardBack.png" alt="Card image">
    <div class="card-body">
        <p>Dealer Card</p>
    </div>
</div>
<div class="card" id="dCard4">
    <img class="card-img-top" id= "dealerCard4" src="/public/images/cards/cardBack.png" alt="Card image">
    <div class="card-body">
        <p>Dealer Card</p>
    </div>
</div>
<div class="card" id="dCard5">
    <img class="card-img-top" id= "dealerCard5" src="/public/images/cards/cardBack.png" alt="Card image">
    <div class="card-body">
        <p>Dealer Card</p>
    </div>
</div>
<div class="card" id="yCard1">
    <img class="card-img-top" id= "yourCard1" src="/public/images/cards/cardBack.png" alt="Card image">
    <div class="card-body">
        <p>Your Card</p>
    </div>
</div>
<div class="card" id="yCard2">
    <img class="card-img-top" id= "yourCard1" src="/public/images/cards/cardBack.png" alt="Card image">
    <div class="card-body">
        <p>Your Card</p>
    </div>
</div>
<div class="card" id="yCard3">
    <img class="card-img-top" id= "yourCard1" src="/public/images/cards/cardBack.png" alt="Card image">
    <div class="card-body">
        <p>Your Card</p>
    </div>
</div>
<div class="card" id="yCard4">
    <img class="card-img-top" id= "yourCard1" src="/public/images/cards/cardBack.png" alt="Card image">
    <div class="card-body">
        <p>Your Card</p>
    </div>
</div>
<div class="card" id="yCard5">
    <img class="card-img-top" id= "yourCard1" src="/public/images/cards/cardBack.png" alt="Card image">
    <div class="card-body">
        <p>Your Card</p>
    </div>
</div>

<button id = "playBtn" type="button" class="btn btn-success">Play</button>

 <div id="hitOrStay" style= "display: none">
<h2>Player it is your turn!</h2>
<button id = "betBtn" type="button" class="btn btn-success">Hit Me</button>
<button id = "quitBtn" type="button" class="btn btn-danger">Stay</button>
</div>

<div id = "enterBet" style = "display: none">
<h2>Enter Amount of Bet</h2>
<div class="form-group">
  <label for="betCoins">Coins:</label>
  <input type="text" class="form-control" id="betCoins">
  <button id = "betCoinsBtn" type="button" class="btn btn-success">Bet Coins</button>
</div>
</div>

<script src="/public/javascripts/main.js" type="module" ></script>
<noscript><h1>-= JavaScript Required =-</h1></noscript>

<%- include ("_footer") -%>