<%- include ("_header") -%>

<body>

<h1>inBetween!</h1>
<p>This is a card game where your card must be "inBetween" the two board cards!.</p>
<div class="card-deck">
<div class="card">
    <img class="card-img-top" src="/public/images/cards/cardBack.png" alt="Card image">
    <div class="card-body">
        <p>Board Card</p>
    </div>
</div>

<div class="card">
    <img class="card-img-top" src="/public/images/cards/cardBack.png" alt="Card image">
    <div class="card-body">
        <p>Your Card</p>
    </div>
</div>
<div class="card">
    <img class="card-img-top" src="/public/images/cards/cardBack.png" alt="Card image">
    <div class="card-body">
        <p>Board Card</p>
    </div>
</div>
        <div class="card bg-success">
            <div class="card-body text-center">
                <p class="card-text">Your Coins =</p>
            </div>
            <p>Pot=</p>
        </div>
    </div>
<h2>Player Enter your Info: </h2>
 <div class="form-group">
  <label for="usr">Name:</label>
  <input type="text" class="form-control" id="usr">
</div>
<div class="form-group">
  <label for="coins">Coins:</label>
  <input type="text" class="form-control" id="coins">
</div>
<script src="/public/javascripts/main.js" type="module" ></script>
<noscript><h1>-= JavaScript Required =-</h1></noscript>

<%- include ("_footer") -%>